/* Reset and Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
  }
  .navbar {
    background: linear-gradient(45deg, #0396FF, #2575fc);
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .navbar ul {
    list-style: none;
  }
  .navbar li {
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar li:hover {
    background-color:#3498db;
    cursor: pointer;
  }
  .logo{
    font-size: 1.5em;
    font-weight: 500;
  }
  .sidebar {
    background-color: #333;
    color:white;
    width: 180px;
    padding-top: 90px;
    position: fixed;
    height: 100vh;
  }
  .sidebar ul {
    list-style: none;
  }
  .sidebar li {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .sidebar li:hover {
    background-color:#3498db;
    cursor: pointer;
  }
  .main-content {
    margin-left: 220px;
    padding: 20px;
    margin-top: 70px;
    width: 100%;
  }
  .overview {
    height: 200px;
    display: flex;
    gap: 20px;
  }
  #side-logo{
    padding-left: 80px;
    color: rgba(18, 19, 15, 0.837);
  }
  .card {
    align-items:center;
    justify-content: center;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
  }
  .light-pink { background: linear-gradient(to bottom, #FF9A9E, #FAD0C4);  }
  .light-green { background: linear-gradient(to bottom, #ABDCFF, #0396FF);  }
  .light-blue { background: linear-gradient(to bottom, #C9FFBF, #abfc5f);
  }

  .charts {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .chart-container {

    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }
  .orders {
    margin-top: 20px;
  }
  .orders table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .orders th, .orders td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .progress {
    width: 100%;
    height: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .progress div {
    height: 100%;
    background: linear-gradient(to right, #FF7E5F, #FEB47B);
    
    text-align: center;
    color: white;
    line-height: 20px;
  }
  